<%= form_for service_area do |f| %>
  <div class="container settings-container">
    <div class="row settings-row style="padding-top: 20px;">
      <div class="col-xs-12">
        <%- if service_area.errors.any? %>
          <%- service_area.errors.full_messages.each do |message| %>
            <div class="alert alert-danger">
              <div><%= message %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row settings-row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <%= f.label :headline %>
          <%= f.text_field :headline, class: "form-control" %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row settings-row">
      <h5 style="margin-left: 20px;">Sub Areas</h5>
        <div id="#tasks">
          <%= f.fields_for :service_sub_areas do |task| %>
            <%= render '/service_areas/service_sub_area_fields', f: task %>
          <% end %>
          <div class="links" style="margin-left: 20px;">
            <%= link_to_add_association 'New Sub Area', f, :service_sub_areas %>
          </div>
        </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
          <%= f.submit "Save", class: "btn content-btn dashboard-button pull-right", style: "border: 1px solid black;" %>

          <% if service_area.persisted? %>
            <%= link_to "Destroy", service_area_path(service_area), method: :delete, data: { confirm: "Are you sure you want to delete this Service Area?" },
            class: "btn content-btn dashboard-button-danger pull-right", style: "border: 1px solid black; margin-right: 5px;" %>
          <% end %>

          <%= link_to "Back", service_areas_path, class: "btn content-btn dashboard-button", style: "border: 1px solid black;" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
