<h4 class="fancy-font">| About</h4>

</br>

<div class="row">
  <div class="basic-font col side-padding">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
      Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.
      Mauris massa. Vestibulum lacinia arcu eget nulla.
    </p>
    <p>
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.
      Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis.
      Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa.
    </p>
  </div>
</div>

<% if @service_areas.any? %>
  <div class="row" style="margin-bottom: 60px;">
    <div class="col">

      <ul class="fancy-font nav nav-tabs" id="serviceAreaTab" role="tablist">
        <% @service_areas.each_with_index do |service_area, index| %>
          <li class="about-tab-pane-border nav-item">
            <a class="nav-link simple-link <%= 'active left-nav-link' if index == 0 %>" id="service-area-<%= service_area.id %>-tab" data-toggle="tab" href="#service-area-<%= service_area.id %>-pane" role="tab" aria-controls="service-area-<%= service_area.id %>-pane" aria-selected="true">
              <%= service_area.title %>
            </a>
          </li>
        <% end %>
      </ul>

      <div class="tab-content" id="serviceAreaContent">
        <% @service_areas.each_with_index do |service_area, index| %>
          <div class="about-tab-pane-border basic-font tab-pane fade show <%= 'active' if index == 0 %>" id="service-area-<%= service_area.id %>-pane" role="tabpanel" aria-labelledby="service-area-<%= service_area.id %>-tab">
            <div style="padding: 15px;">
              <h5><%= service_area.headline %></h5>
              <p><%= service_area.description %></p>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    (function($) {
    var $window = $(window),
        $html = $('html');

    $window.resize(function resize(){
        if ($window.width() < 514) { return $html.addClass('nav-fill'); }
          $html.removeClass('nav-fill');
      }).trigger('resize');
    })(jQuery);
  });
</script>
