<h4 class="fancy-font">| Our Team</h4>

</br>

<div id="team-bio-container">
  <%- if @team.any? %>
    <%- @team.each_with_index do |member, index| %>
      <div class="row">

        <div class="col">
          <%= image_tag member.avatar, class: "img-thumbnail mr-3 small-screen-thumbnail", style: "width: 100%;" %>
          <div class="media team-member">
            <div class="team-image-container">
              <%= image_tag member.avatar, class: "img-thumbnail mr-3", style: "height: 300px; max-width: 300px;" %>
            </div>

            <br>

            <div class="media-body">
              <h4 class="mt-0 fancy-font"><%= member.full_name_with_titles %></h4>

              <p class="basic-font">
                <%= member.short_bio %>
              </p>

              <% if member.long_bio.present? %>
                <div class="accordion bio-accordion" id="bio-accordion-<%= index %>">
                  <div class="card bio-card">
                    <div class="card-header bio-heading" id="bio-heading-<%= index %>">
                      <h2 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#bio-collapse-<%= index %>" aria-expanded="true" aria-controls="bio-collapse-<%= index %>">
                          See More. . .
                        </button>
                      </h2>
                    </div>

                    <div id="bio-collapse-<%= index %>" class="collapse" aria-labelledby="bio-heading-<%= index %>" data-parent="#bio-accordion-<%= index %>">
                      <div class="basic-font card-body">
                        <%= member.long_bio %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>


            </div>
          </div>
        </div>

      </div>
    <% end %>
  <% end%>
</div>
