<%= form_for :user, url: user_update_password_path(user, id: user.id), method: :patch, remote: true do |f| %>

    <div class="row settings-row fancy-font">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
          <%= f.label :password, style: "color: white;" %>
          <%= f.text_field :password, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row settings-row fancy-font">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
          <%= f.label :password_confirmation, style: "color: white;" %>
          <%= f.text_field :password_confirmation, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row settings-row fancy-font">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
          <button class="btn btn-default close-modal modal-button" data-dismiss="modal" aria-hidden="true">Close</button>
          <%= f.submit "Save", class: "btn btn-default modal-button pull-right submit-button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
