<!DOCTYPE html>
<html>
  <head>
    <title>Lambert</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: '/layouts/navbar' %>

    <%- flash.each do |name, msg| %>
      <div class="alert alert-dismissable <%= name.to_s %>">
        <button class="close" type="button" data-dismiss="alert" aria-hidden="true" &times;></button>
        <%= raw(msg) %>
      </div>
    <% end %>

    <%= render partial: '/layouts/modal' %>

    <div class="container-fluid side-padding">
      <%= yield %>
    </div>

    <%= render partial: '/layouts/footer' %>

  </body>
</html>
