<!DOCTYPE html>
<html>
  <head>
    <title>Lambert</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="background-light-blue"></div>
    <div class="background-dark-blue"></div>
    <div class="background-lightest-blue"></div>
    
    <%= render :partial => 'layouts/navbar' %>

    <%- flash.each do |name, msg| %>
      <div class="alert alert-dismissable <%= alert_class(name) %>">
        <button class="close" type="button" data-dismiss="alert" aria-hidden="true" &times;></button>
        <%= raw(msg) %>
      </div>
    <% end %>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <%= render :partial => 'layouts/footer' %>

  </body>
</html>
